body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(250, 223, 114);
  text-align: center;
}

.link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  min-height: 50vh;
  padding: 40px;
}